<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>List Your Apartment</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/list/css/styles.css' %}">
    <script src="{% static '/list/js/scripts.js' %}"></script>
    <link rel="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto+Slab:300|Cormorant+Garamond|Montserrat|Tangerine" />
</head>

<body>
    <section id="header">
        <h1>Apartment Rentals</h1>
        <div>
            <ul id= "navbar">
                <li><a class="inactive" id="home">Home</a></li>
                <li><a class="inactive" id="wishlist">Wishlist</a></li>
                <li><a class="inactive" id="appointments">Appointments</a></li>
                <li><a class="active" id="list">List</a></li>
                <li><a class="inactive" id="about">About</a></li>
            </ul>
        </div>
    </section>

    <form id="apartment-details">
        <div >
            <label>Price</label>
            <input id="price" type="number" inputmode="numeric">
        </div>
        <div>
            <label>Address</label>
            <input id="address" type="text"></textarea>
        </div>
        <div>
            <label>Phone no.</label>
            <input id="phone-no" type="number" inputmode="numeric">
        </div>
        <div>
            <label>Email Id</label>
            <input id="email-id" type="email">
        </div>
        <div>
            <label>Description</label>
            <textarea id="description"></textarea>
        </div>
    </form>
</body>
</html>